<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<Properties>
    <Property name="log-path">C:\vikki</Property>
</Properties>
<Appenders>

    <!-- console appender -->
    <Console name="console-log" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{dd/MM/yyyy HH:mm:ss:SSS} %5p - %m%n"/>
    </Console>

    <!-- file appender -->
    <RollingFile name="trace" fileName="${log-path}/trace.log"
                 filePattern="${log-path}/trace-%d{yyyy-MM-dd-HH}.log">
        <!-- log pattern -->
        <PatternLayout>
            <pattern>%d{dd/MM/yyyy HH:mm:ss:SSS} %5p - %m%n</pattern>
        </PatternLayout>

        <!-- set file size policy -->
        <Policies>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            <!-- <SizeBasedTriggeringPolicy size="10 MB" /> -->
        </Policies>
        <DefaultRolloverStrategy max="500"/>
    </RollingFile>
	
	 <RollingFile name="report" fileName="${log-path}/trace.log"
                 filePattern="${log-path}/trace-%d{yyyy-MM-dd-HH}.log">
        <!-- log pattern -->
        <PatternLayout>
            <pattern>%d{dd/MM/yyyy HH:mm:ss:SSS} %5p - %m%n</pattern>
        </PatternLayout>

        <!-- set file size policy -->
        <Policies>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            <!-- <SizeBasedTriggeringPolicy size="10 MB" /> -->
        </Policies>
        <DefaultRolloverStrategy max="500"/>
    </RollingFile> 
	<!-- file appender -->
		<RollingFile name="gee"
			fileName="${log-path}/gee.log"
			filePattern="${log-path}/gee-%d{yyyy-MM-dd-HH}.log">
			<!-- log pattern -->
			<PatternLayout>
				<pattern>%d{dd/MM/yyyy HH:mm:ss:SSS} %5p - %m%n</pattern>
			</PatternLayout>

			<!-- set file size policy -->
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<!-- <SizeBasedTriggeringPolicy size="10 MB" /> -->
			</Policies>
			<DefaultRolloverStrategy max="2500" />
		</RollingFile>
		<RollingFile name="name"
			fileName="${log-path}/name.log"
			filePattern="${log-path}/name-%d{yyyy-MM-dd-HH}.log">
			<!-- log pattern -->
			<PatternLayout>
				<pattern>%d{dd/MM/yyyy HH:mm:ss:SSS} %5p - %m%n</pattern>
			</PatternLayout>

			<!-- set file size policy -->
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<!-- <SizeBasedTriggeringPolicy size="10 MB" /> -->
			</Policies>
			<DefaultRolloverStrategy max="2500" />
		</RollingFile>
		<RollingFile name="mathoperation"
			fileName="${log-path}/mathoperation.log"
			filePattern="${log-path}/mathoperation-%d{yyyy-MM-dd-HH}.log">
			<!-- log pattern -->
			<PatternLayout>
				<pattern>%d{dd/MM/yyyy HH:mm:ss:SSS} %5p - %m%n</pattern>
			</PatternLayout>

			<!-- set file size policy -->
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<!-- <SizeBasedTriggeringPolicy size="10 MB" /> -->
			</Policies>
			<DefaultRolloverStrategy max="2500" />
		</RollingFile>

</Appenders>

<Loggers>
	<Logger name="Dialog.Designer.TraceWriter" level="debug" additivity="false">
	    <appender-ref ref="trace"/>>
<!--	    <appender-ref ref="console-log"/>-->
	</Logger>
	<Logger name="gee" level="debug" additivity="false">
			<appender-ref ref="gee" />
			<appender-ref ref="console-log" />
		</Logger>
		<Logger name="name" level="debug" additivity="false">
			<appender-ref ref="name" />
			<appender-ref ref="console-log" />
		</Logger>
		<Logger name="mathoperation" level="debug" additivity="false">
			<appender-ref ref="mathoperation" />
			<appender-ref ref="console-log" />
		</Logger>
	<Logger name="Dialog.Designer.ReportWriter" level="debug" additivity="false">
	    <appender-ref ref="report"/>
<!--	    <appender-ref ref="console-log"/>-->
	</Logger>
	<Root level="debug" additivity="false">
<!--        <AppenderRef ref="console-log"/>-->
    </Root>
</Loggers>
</Configuration>
